* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

header {
    position: relative;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
}

.presentation h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.presentation p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.content {
    display: flex;
    margin: 20px;
}

.left-column {
    flex: 2; /* Prend plus de place */
    margin-right: 20px;
}

.right-column {
    flex: 1; /* Prend moins de place */
}

.about, .agenda, .agenda-si {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacement entre les sections */
}

.about h2, .agenda h2, .agenda-si h2 {
    color: #0066cc;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}
